<!-- <a href="/parks">Parks Index</a>
<a href="/trails">Trails Index</a> -->

<h1><%= @trail.name %></h1>
<p>Length: <%= @trail.length %></p>
<p>Elevation Gain: <%= @trail.elevation_gain %></p>
<p>Loop: <%= @trail.loop %></p>
