<div style="padding-left:5px;">
  <h1>Regions Index</h1>

  <form style="float:left;" action="/regions/new">
    <input type="submit" value="New Region"/>
  </form>
  <br><br><br>

  <% @regions.each do |region| %>
    <h3><%= link_to region.name, "/regions/#{region.id}" %></h3>
    <p>Created At: <%=region.created_at %></p>
    <form style="float:left;" action= <%= "/regions/#{region.id}/edit" %>>
      <input type="submit" value="Update Region"/>
    </form>
    <br><br><br>
  <% end %>
</div>
