<h1>Regions Index</h1>

<form style="float:left; padding-bottom:5px;" action="/regions/new">
  <input type="submit" value="New Region"/>
</form>
<br><br>

<% @regions.each do |region| %>
  <h3><%= link_to region.name, "/regions/#{region.id}" %></h3>
  <p>Created At: <%=region.created_at %></p>
<% end %>
