<h1>Regions Index</h1>

<% @regions.each do |region| %>
  <%= link_to region.name, "/regions/#{region.id}" %>
  <p>Created At: <%=region.created_at %></p>
<% end %>

<br><br>

<!-- <form style="float:left; padding-left:1px;" action="/resorts">
  <input type="submit" value="Resorts Index"/>
</form> -->
